body {
  padding: 20px;
  background-image: url('../images/clock-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 28px;
  color: yellow;
}

.calendar {
  display: flex;
  justify-content: space-around;
}

.date-style {
  display: flex;
}

.digital-clock {
  padding-top: 60px;
  text-align: center;
  font-size: 40px;
}

.clock {
  width: 500px;
  height: 500px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/clock.jpg');
  background-color: #fff;
  background-size: cover;
  border-radius: 50%;
  position: relative;
}

.clock-arrow {
  position: absolute;
  background-color: black;
  transform-origin: bottom;
  transform: translateX(-50%);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.clock-center {
  position: absolute;
  background-color: black;
  top: 236px;
  left: 236px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.clock-seconds__arrow {
  bottom: 50%;
  left: 50%;
  width: 5px;
  height: 40%;
  background-color: red;
}

.clock-minutes__arrow {
  bottom: 50%;
  left: 50%;
  width: 7px;
  height: 33%;
}

.clock-hours__arrow {
  bottom: 50%;
  left: 50%;
  width: 12px;
  height: 24%;
}
